#main-navbar .menu-item {
  padding: 0px;
  margin-left: 15px !important;
  margin-right: 15px !important;
}
#main-navbar .menu-item:hover {
  font-weight: 900;
  border-bottom: 2px solid #7fe8b9;
}
#main-navbar img#profile-pic {
  border-radius: 50%;
}

.active-tab {
  font-weight: 900;
  text-decoration: underline;
  border-bottom: 1px solid #7fe8b9;
}

.topic-card {
  width: 300px;
}
.topic-card .img-container {
  position: relative;
  text-align: center;
}
.topic-card .img-container img {
  height: 230px;
}
.topic-card .img-container img .img-text {
  position: absolute;
  width: auto;
  display: block;
  top: 8px;
  right: 16px;
}
.social-media {
  margin: 0px;
}
.social-media .social-media-icon {
  height: 30px;
}

.footer {
  background-color: #3c3c3c;
  color: #ececec;
}
.footer .footer-text {
  color: #7add7b;
  font-weight: 800;
  font-size: 25px;
}

.home-header {
  z-index: 10;
  position: relative;
  letter-spacing: 0.1em;
  /* Adjust as needed */
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.slide {
  text-align: center;
  height: 100vh;
  overflow: auto;
  padding: 100px;
}
.slide .slide-description {
  padding-top: 40px;
}
.slide img {
  margin: 20px;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(89, 87, 89, 0.3);
  -moz-box-shadow: 0px 0px 5px 3px rgba(89, 87, 89, 0.3);
  box-shadow: 0px 0px 5px 3px rgba(89, 87, 89, 0.3);
}

.slide-two {
  background-image: url("/public/images/backgrounds/blues.jpg");
  color: white;
}

.slide-three {
  background-image: url("/public/images/backgrounds/cocoa.jpg");
  color: white;
}

.slide-four {
  background-image: url("/public/images/backgrounds/subu.jpg");
  color: white;
}

.home-text {
  font-size: 2em;
  z-index: 9;
}

.home-description {
  z-index: 100;
  position: relative !important;
}

#home-people-img {
  position: absolute;
  left: -150px;
  top: 100px;
  width: 140%;
}

.searchbar-icon {
  margin-left: -40px;
  margin-top: 15px;
  font-size: 18px;
  color: #7fe8b9;
  z-index: 100;
}

.searchbar {
  border-radius: 25px !important;
  -webkit-box-shadow: 0px 5px 26px -2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 26px -2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 26px -2px rgba(0, 0, 0, 0.16);
  border-color: #fcfcfc !important;
}

.searchbar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 0.3 !important;
  /* Firefox */
  font-size: 14px !important;
}

.searchbar-col {
  margin-top: 10px !important;
}

.snap-container {
  overflow: auto;
}

.test {
  -webkit-column-gap: 0px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 0px;
  /* Firefox */
  column-gap: 0px;
}

.upscribe-form-home {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -80px !important;
  z-index: 1;
}

.join-me-text {
  position: relative;
  z-index: 100;
}

.upscribe-form-join {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -40px !important;
  z-index: 10;
}

html, body {
  height: 100%;
  font-size: 100%;
}

.border {
  border: 1px solid black;
}

.center-content-h {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-content-v {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-wrapper {
  height: 100% !important;
}

.full-width-container {
  height: 100vh;
}

/*# sourceMappingURL=bundled.css.map */
