#main-navbar .menu-item {
  padding: 0px;
  margin-left: 15px !important;
  margin-right: 15px !important;
}
#main-navbar .menu-item:hover {
  font-weight: 900;
  border-bottom: 2px solid #7fe8b9;
}
#main-navbar img#profile-pic {
  border-radius: 50%;
}

.active-tab {
  font-weight: 900;
  text-decoration: underline;
  border-bottom: 1px solid #7fe8b9;
}

.topic-card {
  width: 300px;
}
.topic-card .img-container {
  position: relative;
  text-align: center;
}
.topic-card .img-container img {
  height: 230px;
}
.topic-card .img-container img .img-text {
  position: absolute;
  width: auto;
  display: block;
  top: 8px;
  right: 16px;
}
.social-media {
  margin: 0px;
}
.social-media .social-media-icon {
  height: 30px;
}

.home-header {
  z-index: 10;
  position: relative;
  letter-spacing: 0.1em;
  /* Adjust as needed */
}

.typewriter {
  /* The typewriter cursor effect */
}
.typewriter h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid transparent;
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
}
.typewriter .line1 {
  -webkit-animation: type 3s steps(40, end);
  animation: type 3s steps(40, end), blinking-cursor 4s;
}
.typewriter .line2 {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -webkit-animation: type 5s steps(40, end);
  animation: type2 3s steps(60, end), blinking-cursor 4s;
}
@keyframes type {
  from {
    width: 0;
  }
}
@-webkit-keyframes type {
  from {
    width: 0;
  }
}
.typewriter span {
  animation: blink 1s infinite;
}
@keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinking-cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.slide {
  text-align: center;
  height: 100vh;
  overflow: auto;
  padding: 100px;
}
.slide .slide-description {
  padding-top: 40px;
}
.slide img {
  margin: 20px;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(89, 87, 89, 0.3);
  -moz-box-shadow: 0px 0px 5px 3px rgba(89, 87, 89, 0.3);
  box-shadow: 0px 0px 5px 3px rgba(89, 87, 89, 0.3);
}

.slide-two {
  background-image: url("/public/images/backgrounds/blues.jpg");
  color: white;
}

.slide-three {
  background-image: url("/public/images/backgrounds/cocoa.jpg");
  color: white;
}

.slide-four {
  background-image: url("/public/images/backgrounds/subu.jpg");
  color: white;
}

.home-text {
  font-size: 2em;
  z-index: 9;
}

#home-people-img {
  position: absolute;
  left: -150px;
  top: 100px;
  width: 140%;
}

.searchbar-icon {
  margin-left: -40px;
  margin-top: 15px;
  font-size: 18px;
  color: #7fe8b9;
  z-index: 100;
}

.searchbar {
  border-radius: 25px !important;
  -webkit-box-shadow: 0px 5px 26px -2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 26px -2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 26px -2px rgba(0, 0, 0, 0.16);
  border-color: #fcfcfc !important;
}

.searchbar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 0.3 !important;
  /* Firefox */
  font-size: 14px !important;
}

.searchbar-col {
  margin-top: 10px !important;
}

.test {
  -webkit-column-gap: 0px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 0px;
  /* Firefox */
  column-gap: 0px;
}

.upscribe-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -80px !important;
}

html, body {
  height: 100%;
  font-size: 100%;
}

.border {
  border: 1px solid black;
}

.center-content-h {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-content-v {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-wrapper {
  height: 100% !important;
}

/*# sourceMappingURL=bundled.css.map */
