$main-green: #7fe8b9;



// IMPORTS
@import 'header.scss';
@import 'topic.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'home_scroll.scss';
@import 'join.scss';


.main-header{
  height: 12vh;
   max-height: 12vh;
//  border: 2px solid blue;
  z-index: 999;
}

.main-body{
  height: 70%;
  max-height: 70%;
 //  border: 2px solid blue;
  background-color: white;
}

.main-footer{
  height: 5vh;
   max-height: 5vh;
   //border: 2px solid blue;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}



html, body {
	height: 100%;
	font-size: 100%;

}


.border{
	border: 1px solid black;
}

.center-content-h {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }


 .center-content-v {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }


.main-wrapper {
	height: 100% !important;
}

.themes {
	
	

}


.full-width-container {
  height: calc(100vh - 80px);
}

.full-width-container{
  overflow: auto;
  padding: 0 200px 0 200px;
  @media only screen and (max-width : 979px) {
    padding: 0 50px 0 50px;
  }
  // @media only screen and (max-width : 768px) {
  // 	font-size: 30px;
  // }
  @media only screen and (max-width : 576px) {
    padding: 0 20px 0 20px;
  }
  // @media only screen and (max-width : 320px) {
  // 	font-size: 24px;
  // }
}




