$main-green: #7fe8b9;



// IMPORTS
@import 'header.scss';
@import 'topic.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'join.scss';



// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}



html, body {
	height: 100%;
	font-size: 100%;

}


.border{
	border: 1px solid black;
}

.center-content-h {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }


 .center-content-v {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }


.main-wrapper {
	height: 100% !important;
}

.themes {
	
	

}


.full-width-container {
  height: 100vh;
}






