.social-media {
	margin: 0px;

	.social-media-icon{
		height: 30px;
	}
}


.main-footer{
	z-index: 1000;
}


.footer {
	background-color: #3c3c3c;
	color: #ececec;


	.footer-text {
		color: #7add7b;
		font-weight: 800;
		font-size: 25px;
	}
}

