




#main-navbar {
	//height: 114px !important;
	//max-height: 114px !important;
	margin: 0px !important;
	padding: 0px !important;
	top: 40px !important;

	.menu-item{
		padding: 0px;
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

	.menu-item:hover{
		font-weight: 900;
  		border-bottom: 2px solid $main-green;
	}


	img#profile-pic {
    	border-radius: 50%;
	}


}


.active-tab {
	font-weight: 900;
	text-decoration: underline;
  	border-bottom: 1px solid $main-green;
}