.slide{

	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 50px 50px 0px 50px;

    .slide-description{
		padding: 40px; 
		@media only screen and (max-width : 768px) {
			padding: 0px;
		}
    	p {
    		color: #e5e5e5;
    		font-weight: 600;
    		font-size: 20px;
    	}
    }  

    img {
    	padding: 0px;
        -webkit-box-shadow: 0px 0px 5px 3px rgba(89,87,89,0.3);
		-moz-box-shadow: 0px 0px 5px 3px rgba(89,87,89,0.3);
		box-shadow: 0px 0px 5px 3px rgba(89,87,89,0.3);

    }
}
// scroll bar 
// .slide::-webkit-scrollbar {
//     -webkit-appearance: none;
// }

// .slide::-webkit-scrollbar:vertical {
//     width: 11px;
// }

// .slide::-webkit-scrollbar:horizontal {
//     height: 11px;
// }

// .slide::-webkit-scrollbar-thumb {
//     border-radius: 8px;
//     border: 2px solid white; /* should match background, can't be transparent */
//     background-color: rgba(0, 0, 0, .5);
// }

// .slide::-webkit-scrollbar-track { 
//     background-color: #fff; 
//     border-radius: 8px; 
// } 

.slide-one{
	
}

.slide-two{
	background-image: url("/public/images/backgrounds/blues.jpg");
	color: white;
}

.slide-three{
	background-image: url("/public/images/backgrounds/cocoa.jpg"); 
	color: white;
}

.slide-four{
	background-image: url("/public/images/backgrounds/subu.jpg");
	color: white;
}

.home-description{
	z-index: 1 !important;
	position: relative !important;
	padding: 100px 20px 0px 20px;
	font-weight: bold;
	font-size: 38px;
	@media only screen and (max-width : 979px) {
		font-size: 34px;
	}
	@media only screen and (max-width : 768px) {
		padding-top: 70px;
		font-size: 30px;
	}
	@media only screen and (max-width : 576px) {
		padding-top: 50px;
		font-size: 26px;
	}
	@media only screen and (max-width : 320px) {
		font-size: 24px;
	}
	@media only screen and (max-height: 568px) {
		font-size: 26px;
	}
}

.form-page {
	background-color: rgba(201, 76, 76, 0.0) !important;
}

#home-people-img {
	position: absolute;
    left: -150px;
    top: 100px;
    width: 140%;
}

.searchbar-icon {
	margin-left: -40px;
	margin-top: 15px;
	font-size: 18px;
	color: $main-green;
    z-index: 100;
}

.searchbar{
	border-radius: 25px!important;
	-webkit-box-shadow: 0px 5px 26px -2px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 26px -2px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 26px -2px rgba(0,0,0,0.16);
	border-color: #fcfcfc !important;	
}

.searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: .3 !important; /* Firefox */
    font-size: 14px !important;
}



.searchbar-col {
	margin-top: 10px !important;
}


.snap-container{
	overflow: auto;
}


.test{
	-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
}    


.upscribe-form-home {
  width:100%;
  max-width:800px;
  max-height: 300px;
  margin:0 auto;
  padding: 0;
}

#section01 .form-page-form .contact-fields .form-control {
    height: 10px !important;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 300;
    resize: none;
    border: 1px solid #d2beb6!important;
    border-radius: 4px!important;
    background: 0 0!important;
    background-color: #fff!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}




